<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary"> About eMobilis</h1>
<a target="_blank" href="index.html"><button class="btn1">Home</button></a>
<a target="_blank" href="about.html" ><button class="btn2">About</button></a>
<a target="_blank" href="gallery.html"> <button class="btn3">Gallery</button></a>
<a target="_blank" href="register.html"><button class="btn4">Register</button></a>
<a target="_blank" href="login.html"> <button class="btn5">Login</button></a>
<hr class="cathrene">
<h3 class="cate">Course offered</h3>
<table>
    <tr>
        <th>Course name</th>
        <th>Course duration</th>
        <th>Course cost</th>
    </tr>
    <tr>
        <td>Web development</td>
        <td>2 months</td>
        <td>ksh. 25,000</td>
    </tr>
    <tr>
        <td>Fullstack development software</td>
        <td>5 months</td>
        <td>ksh. 30,000</td>
    </tr>
    <tr>
        <td>Datascience</td>
        <td> 2.5 months</td>
        <td>ksh. 40,000</td>

    </tr>
    <tr>
        <td>Mobile technology</td>
        <td>3.5 months</td>
        <td>ksh. 60,000</td>
    </tr>
    <tr>
        <td>cybersecurity</td>
        <td>8 months</td>
        <td>ksh. 70,000</td>
    </tr>
</table>
</body>
</html>