<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>bloom</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<!--Navigation section start-->
<div class="bloom">
    <div class="bloom-left">
        <a href=""><h1>Bloom</h1></a>
    </div>
    <div class="bloom-right">
        <a href=""><button>Home</button></a>
        <a href=""><button>About Us</button></a>
        <a href=""><button>Services</button></a>
        <a href=""><button>Portfolio</button></a>
        <a href=""><button>Contact Us</button></a>
    </div>
</div>
<!--Navigation section end-->

<!--Second section start-->
<div class="second-part">
    <div class="second-left">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea eius eos fuga nisi, odit provident sit voluptas? Aperiam assumenda dolore dolores illo, in iure nulla provident quaerat
            quis vel. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea eius eos fuga nisi, odit provident sit voluptas? Aperiam assumenda dolore dolores illo, in iure nulla provident quaerat
            quis vel.</p>
        <button>Learn More</button>
    </div>
    <div class="second-right">
        <img src="../static/image/lilies-1512813_1280.jpg" alt="">
    </div>
</div>
<!--Second section end-->

<!--Third section start-->
<div class="third-part">
    <div>
        <h3>This is a heading</h3>
    </div>
    <div class="third1">
        <div class="third1-card">
            <img src="../static/image/rose-2548784_1280.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
        <div class="third1-card">
            <img src="../static/image/pink%20flower.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
        <div class="third1-card">
            <img src="../static/image/flower-3763573_1280.jpg" alt="">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate esse laudantium molestiae molestias omnis pariatur quae quas ut. Neque,
                quisquam.</p>
            <button>Learn More</button>
        </div>
    </div>
</div>
<!--Third section end-->

<!--Footer section start-->
<div class="footer">
    <div class="footer-one">
<div class="footer-one-left">
<ol>
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
        </ol>
    </div>
    <div class="footer-one-center">
        <h5>about us</h5>
        <p>Lorem This research proposal has been submitted for examination with my approval as the University’s supervisor. </p>
        <p>This research proposal has been submitted for examination with my approval as the University’s supervisor.i.	Accessibility, reliability, and usability: The system should be accessible and usable by counselors and students at all time.  </p>
    </div>
    <div class="footer-one-right">
        <ol>
            <li><a href="#">facebook</a></li>
            <li><a href="#">google</a></li>
            <li><a href="#">twitter.</a></li>
            <li><a href="#"> RSS</a></li>
        </ol>
    </div>
</div>
<div class="footer-two">
    <h5>&copy;Allright reserved my website</h5>
</div>

</div>
<!--Footer section end-->
</body>
</html>


