<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
   <link rel ="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<div class="header">
    <h1>Cities</h1>
</div>
<div class="content">
    <div class="content-left">
        <ol>
            <li><a href="#" >London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>
    <div class="content-right">
        <h1>London</h1>
        <p>Lorem This research proposal has been submitted for examination with my approval as the University’s supervisor. </p>
        <p>This research proposal has been submitted for examination with my approval as the University’s supervisor.i.	Accessibility, reliability, and usability: The system should be accessible and usable by counselors and students at all time.  </p>
    </div>
</div>
<div class="footer">
    <h5>Footer</h5>
</div>

</body>
</html>