<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divs</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<!--Start  of top div-->
<div class="top">
<div class="top-left">
    <h1 class="mary">eMobilis school</h1>
</div>
<div class="top-right">
    <h1 class="mary">home</h1>
</div>
    </div>
<! End of top div-->
<!--Start  of middle div-->
<div class="middle">
    <div class="middle-top"></div>
    <div class="middle-center"></div>
    <div class="middle-bottom"></div>

</div>
<! End of middle div-->
<!--Start  of bottom div-->
<div class="bottom">
    <div class="bottom-north"></div>
    <div class="bottom-west"></div>
    <div class="bottom-east"></div>
    <div class="bottom-south"></div>
</div>
<! End of bottom div-->

</body>
</html>