<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary">eMobilis Gallery</h1>
<a target="_blank" href="index.html"><button class="btn1">Home</button></a>
<a target="_blank" href="about.html"> <button class="btn2">About</button></a>
<a  target="_blank" href="gallery.html" ><button class="btn3">Gallery</button></a>
<a target="_blank" href="register.html"> <button class="btn4">Register</button></a>
<a target="_blank" href="login.html" ><button class="btn5">Login</button></a>
<hr class="cathrene">
<img class="pic" src="../static/image/4e4863b199e1d6f13cc1f07671db78d7.jpg" alt="my pic one">
<img class="pic" src="../static/image/90f24d55168862c23504c0f71bcdbcf6.jpg" alt="my pic two">
<img class="pic" src="../static/image/db373c92efacb24b2d71de46656fa02f.jpg" alt="my pic three">
<img class="pic" src="../static/image/workplace-2303851_1280.jpg" alt="my pic four">
<img class="pic" src="../static/image/4e4863b199e1d6f13cc1f07671db78d7.jpg" alt="my pic one">
<img class="pic" src="../static/image/90f24d55168862c23504c0f71bcdbcf6.jpg" alt="my pic two">
<img class="pic" src="../static/image/db373c92efacb24b2d71de46656fa02f.jpg" alt="my pic three">
<img class="pic" src="../static/image/workplace-2303851_1280.jpg" alt="my pic four">


</body>
</html>