<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary">eMobilis Coding School</h1>
<a target="_blank" href="index.html"><button class="btn1">Home</button></a>
<a target="_blank" href="about.html" ><button class="btn2">About</button></a>
<a target="_blank" href="gallery.html" ><button class="btn3">Gallery</button></a>
<a target="_blank" href="register.html"> <button class="btn4">Register</button></a>
<a target="_blank" href="login.html"> <button class="btn5">Login</button></a>
<hr class="cathrene">
<h3 class="hh">Principal's remarks</h3>
<p class="c1">I dedicate my work to my father, Joseph Nyongesa, for his years of support, dedication, and encouragement in making me a better person and student.  </p>
<p class="c1">The system will have all the information in one place, making it easier for the administration to reach conclusions about the students’ welfare. </p>
<h3 class="hh">Deputy's remarks</h3>
<p class="c1">I dedicate my work to my father, Joseph Nyongesa, for his years of support, dedication, and encouragement in making me a better person and student.</p>
<p class="c1">The system will have all the information in one place, making it easier for the administration to reach conclusions about the students’ welfare. </p>
<h3 class="hh">Senior's master remarks</h3>
<p class="c1">I dedicate my work to my father, Joseph Nyongesa, for his years of support, dedication, and encouragement in making me a better person and student.</p>
<p class="c1">The system will have all the information in one place, making it easier for the administration to reach conclusions about the students’ welfare.</p>

</body>
</html>