<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary">Login press</h1>
<a target="_blank" href="index.html" ><button class="btn1">Home</button></a>
<a target="_blank" href="about.html"><button class="btn2">About</button></a>
<a target="_blank" href="gallery.html" ><button class="btn3">Gallery</button></a>
<a target="_blank" href="register.html">< <button class="btn4">Register</button></a>
<a target="_blank" href="login.html"><button class="btn5">Login</button></a>
<hr class="cathrene">
<form class="my-form" action="">
    <input  class="input" disabled placeholder="Enter email" type="email"><br><br>
    <input  class="input" placeholder="Enter password" type="password"><br><br>
    <label for="">Login as</label><br>
    <input name="user-type" value="Admin" type="radio">Admin
    <input checked name="user-type" value="user" type="radio">user

    <input  class="btn" value="login" type="submit">
</form>

</div>


</body>
</html>