<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary">Register Here</h1>
<a target="_blank" href="index.html" ><button class="btn1">Home</button></a>
 <a target="_blank" href="about.html"><button class="btn2">About</button></a>
<a target="_blank" href="gallery.html" ><button class="btn3">Gallery</button></a>
<a target="_blank" href="register.html" ><button class="btn4">Register</button></a>
<a target="_blank" href="login.html"> <button class="btn5">Login</button></a>
<hr class="cathrene">
<form class="my-form" action="">
    <input class="input" required placeholder="Enter name" type="text"><br><br>
    <input  class="input" disabled placeholder="Enter email" type="email"><br><br>
    <input  class="input" placeholder="Enter number" type="number"><br><br>
    <label for="">D.O.B</label><br><br>
    <input class="input" type="datetime-local"><br><br>
    <label for="">GENDER</label><br><br>
    <select class="input" name="" id="">
        <option value="">Select gender</option>
        <option value="male">male</option>
        <option value="female">female</option>
    </select><br><br>
    <input  class="input" placeholder="Enter password" type="password"><br><br>
    <input  class="btn" value="register" type="submit">
</form>


</body>
</html>